.wpapw {

	&__posts {
		padding: 0;
		margin: 0;
		list-style: none;
		
		img {
			vertical-align: top;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			outline: 1px solid transparent;
		}
		
		iframe {
			max-height: 100px;
		}

	}
	
	&__post {
		position: relative;
		margin-bottom: 14px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-items: flex-start;
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
	
	&__img {
		display: inline-block;
		width: 36%;
		max-width: 95px;
		
		a {
			display: block;
			overflow: hidden;
		}

	}
	
	&__desc {
		display: inline-block;
		width: 60%;
		text-align: left;
		
		h4 {
			font-size: 16px;
			margin-top: 2px;
			margin-bottom: 0;
			letter-spacing: 0;
			line-height: 20px;
			font-weight: 500;
			
			a {
				color: #000;
			}

		}
		
		p {
			font-size: 13px;
			color: #848484;
			line-height: 13px;
			margin-top: 7px;
		}

	}
	
	&__cat {
		margin-top: 4px;
		margin-bottom: 4px;
		line-height: 1;
		
		a {
			position: relative;
			display: inline-block;
			font-size: 9.1px;
			font-weight: 400;
			line-height: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 0;
			margin-right: 4px;
			color: #000;
			text-decoration: none; 
			background: transparent;
		}

	}
	
	&__count {
		display: inline-block;
		position: absolute;
		color: #fff;
		top: -9px;
		left: -9px;
		background-color: rgba(0, 0, 0, 0.65);
		background-color: #000000;
		z-index: rgb(255, 255, 255);
		font-size: 10px;
		font-weight: bold;
		width: 28px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		margin: 0;
		border-radius: 100px;
	}
	
	&__posts {
		
		&.--large {
    
	        .wpapw {
	        
	            &__post {
					display: block;
					margin-bottom: 25px;
				}
	        
	            &__img {
					display: block;
					width: 100%;
					max-width: 100%;
					
					img {
						width: 100%;
					}
	
				}
				
				&__count {
					display: none;
				}
	
	            &__desc {
					position: relative;
					width: 100%;
					padding: 17px 0 0;
					
					h4 {
						font-size: 17px;
						font-weight: 500;
						line-height: 25px;
					}
					
					&.--count .wpapw__count {
						display: block;
						position: absolute;
						/* font-family: "sekundar", "Baskerville Old Face", "Garamond", "Times New Roman", serif; */
						margin: 0;
						left: 0;
						top: 30px;
						font-size: 46px;
						font-weight: 700;
						color: #e0e0e4;
						background-color: transparent;
						
						h4,
						span {
							padding-left: 40px;
						}
						
					}
	
				}
				
				&__cat {
					margin-top: 0;
				}
	
	        }
	        
	        iframe {
				max-height: 250px;
			}
	    
	    }
    
	}
	
}

.wpapw__img img,
.widget .wpapw__img img,
.widget-area .widget .wpapw__img img {
	margin: 0;
}
 
.widget p.wpapw__count {
	font-size: 10px;
}
 
   
 
 
 
 
 
 
 
 
 
 
 
 
